doctype html
head
  meta(charset='UTF-8')
  title Authentic Fake ID Shop
  link#css(href='/main.css' rel='stylesheet')
  script(src='/js/main.js' async='')
nav
  ul
    li
      a(href='/') Main Page
    li
      a(href='/contact') Contact
    li
      a(href='/testimonies') Testimonies
    li
      a(href='/admin/contactlog') Contact Log
    li
      button.dark-mode Dark Mode
#sale-banner
h1 Authentic Fake ID Shop
h2 The Real Deal in Fake Identification
img.mainimg(src='/images/main' alt='McLovin fake id')
// missed the 's' in images...
.mainpg-box
  p
    | At &apos;Authentic Fake ID Shop&apos;, we are dedicated to the craft of creating exceptionally
    | realistic counterfeit identification documents.
    //
      While we take our work seriously, we must clarify that our IDs are strictly for        might have to keep in...
      entertainment and novelty purposes, not for illegal activities.
    | Our skilled artisans pay meticulous attention to detail, ensuring that our IDs mimic 
    | genuine designs to an uncanny degree. So many people want to go out and enjoy 
    | everything life has to offer, but 
    em some
    |  people want to take that away from you!
    |                 Have you ever wanted to crack open a cold one with your pals and watch the game, but 
    |                 then you remember - &quot;
    em Drat! I&apos;m not 21!
    | &quot; - pouting, you have to walk home in
    |                 shame? That&apos;s where &apos;Authentic Fake ID Shop&apos; steps in! We&apos;re here to help 
    strong you
    |  - yes, 
    strong you
    |  - with your problem!
  p
    | In just a few easy steps, you can go from shame and pouting to fame and shouting! Just
    | follow these easy steps:
  div
    ol
      li
        | Give us your information:
        ul
          li Name
          li Date of Birth
          li Home Address
          li Email and Phone Number
          li Garage Code
          li Credit Card with the highest limit
          li Social Security Number
      li
        | Your information gets processed into our system
        ul
          li
            em This may take &gt; 2 years.
      li
        | We get to work and give you an estimated delivery
        ul
          li
            em
              | Although we are based in the US, we have to ship your id to 32
              | different states to get your ID&apos;s stamp of approval.
          li
            em This process takes no more than one full rotation of the Milky Way.
      li You get your Authentic Fake ID&trade;
p.footnote *For obvious reasons this is a satire.
