doctype html 
html(lang="en")
  head 
    meta(charset="UTF-8")
    title BAD REQUEST 
    link#css(href="/resources/css/main.css" rel="stylesheet")
    script(src="/resources/js/main.js" async="") 
  include navigation.pug 
  h1.f400 400 Error: Your request could not be processed.
  h2.f400 Something went wrong with your last request, we apologise.