nav
  ul
    li
      a(href='/') Main Page
    li
      a(href='/contact') Contact
    li
      a(href='/testimonies') Testimonies
    li
      a(href='/admin/contactlog') Contact Log
    li
      button.dark-mode Dark Mode