doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    title Authentic Fake ID Shop Reviews
    link#css(href='/resources/css/main.css' rel='stylesheet')
    script(src='/resources/js/main.js' async='')
  include navigation.pug
  h1 Here&apos;s what others are saying...
  h2 Fully authentic reviews!
  iframe#ytvid(title='youtube video' src='https://www.youtube.com/embed/C2YXNn7Z9U0?rel=0' allowfullscreen='')
  .flex-review
    .flex-left
      .review
        | &#x2B50;&#x2B50;&#x2B50;&#x2B50;&#x2B50;
        p.review-body
          | &quot;I had a fantastic experience with this company. The IDs I ordered were delivered
          | promptly, and they exceeded my expectations. Great work, Authentic Fake ID Shop!&quot;
        p.reviewer-name - Tailore Svyft
      .review
        | &#x2B50;&#x2B50;&#x2B50;&#x2B50;&#x2B50;
        p.review-body
          | &quot;Authentic Fake ID Shop provides outstanding products. Their IDs are so convincing,
          | and I was thoroughly pleased with my purchase. I&apos;ll definitely be a repeat customer!&quot;
        p.reviewer-name - Jordan Silly-Guy
      .review
        | &#x2B50;&#x2B50;&#x2B50;&#x2B50;&#x2B50;
        p.review-body
          | &quot;I was blown away by the quality of the IDs I received from Authentic Fake ID Shop.
          | They look incredibly genuine, and the attention to detail is impressive. I highly
          | recommend their services!&quot;
        p.reviewer-name - Droid U.R. Lookenfir
      .review
        | &#x2B50;&#x2B50;&#x2B50;
        p.review-body
          | &quot;Authentic Fake ID Shop: Where &apos;authentic&apos; and &apos;fake&apos; collide in a delightful spectacle
          | of confusion! I&apos;ve never had so much fun convincing people of my &apos;real&apos; fake identity.
          | Keep up the paradoxical greatness!&quot;
        p.reviewer-name - William Howard Taft
    .flex-right
      .review
        | &#x2B50;&#x2B50;&#x2B50;&#x2B50;&#x2B50;
        p.review-body
          | &quot;These fake IDs are so authentic that even my pet goldfish mistook me for someone else.
          | Now, I&apos;m wondering if I should organize a &apos;Goldfish Rebellion&apos; party! Thanks for the
          | fun, Authentic Fake ID Shop!&quot;
        p.reviewer-name - Mike Hawk
      .review
        | &#x2B50;&#x2B50;&#x2B50;&#x2B50;
        p.review-body
          | &quot;I ordered a set of IDs for my cat, Mr. Whiskers, as a joke. Now he&apos;s demanding his own
          | passport and international travel rights! Who knew my feline friend had such wanderlust?
          | Authentic Fake ID Shop, you&apos;ve turned my cat into an international sensation!&quot;
        p.reviewer-name
          | - 
          b H
          | arold 
          b T
          | hatch-
          b M
          | ichel 
          b L
          | owry
      .review
        | &#x2B50;&#x2B50;&#x2B50;&#x2B50;&#x2B50;
        p.review-body
          | &quot;Although I may have never gotten my Authentic Fake ID, just based off the reviews I
          | can tell that I already love mine!&quot;
        p.reviewer-name Chancey Greyford Hubbart
